# Advanced Querying Mongo

Importing libraries and setting up connection

In [6]:
from pymongo import MongoClient
import re
cursor = MongoClient()
db=cursor.companies
colec=db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [7]:

query={'name': 'Babelgum'}
              
select={'name': True, '_id': False}

a = colec.find(query, select).limit(10)

list(a)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [8]:
# Your Code


query={'number_of_employees': {"$gt": 5000}}
              
select={'name': True, '_id': False}

b = colec.find(query, select).sort('number_of_employees', -1).limit(20)

list(b)

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'},
 {'name': 'Sony'},
 {'name': 'LG'},
 {'name': 'Ford'},
 {'name': 'Boeing'},
 {'name': 'Digital Equipment Corporation'},
 {'name': 'Nokia'},
 {'name': 'MItsubishi Electric'},
 {'name': 'MItsubishi Electric'},
 {'name': 'Comcast'},
 {'name': 'Bertelsmann'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [9]:
# Your Code

query={'$and': [{'founded_year': {'$lte': 2005}},
                {'founded_year': {'$gte': 2000}}]}
              
select={'name': True, "founded_year": True, '_id': False}

c = colec.find(query, select).limit(10)

list(c)

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [10]:
# Your Code
def exchange(col):
    
    res=[]
    
    number=1
    
    symbol=1
    
    for e in col:
        
        if e[-1]=='k': number=1e3
        elif e[-1]=='M': number=1e6
        elif e[-1]=='B': number=1e9
            
        if e[0]=='£': symbol=1.3
        elif e[0]=='€' : symbol=1.12
        
        n_col=re.findall('[0-9.]+', e)[0]

        
        res.append(int(float(n_col) * number * symbol))
        
    return res

query = {'$and': [{'founded_year': {'$lte': 2010}}, {exchange("total_money_raised"): {'$gt': 1e8}}]}

              
select={'name': True, "total_money_raised": True, '_id': False}

d = colec.find(query, select).limit(10)

list(d)

IndexError: list index out of range

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [12]:
# Your Code

query={'$and': [{'number_of_employees': {'$lt': 1000}},
                {'founded_year': {'$lt': 2005}}]}
              
select={'name': True, "founded_year": True, "number_of_employees": True,'_id': False}

f = colec.find(query, select).sort('number_of_employees', -1).limit(10)

list(f)

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [13]:
# Your Code


query = {'partners': {'$nin': [0]}}
select = {'name': True, '_id': False}

g = colec.find(query, select).limit(10)

list(g)

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [14]:
# Your Code

query = {'category_code': None}
select = {'name': True, '_id': False}

h = colec.find(query, select).limit(10)

list(h)

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [15]:
# Your Code
query={'$and': [{'number_of_employees': {'$gte': 100}},
                {'number_of_employees': {'$lt': 1000}}]}
              
select={'name': True, "number_of_employees": True,'_id': False}

k = colec.find(query, select).limit(10)
list(k)

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [16]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [17]:
# Your Code
query={}
              
select={'name': True, "number_of_employees": True,'_id': False}

l = colec.find(query, select).sort('number_of_employees', -1).limit(10)
list(l)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [18]:
# Your Code
query={'$and': [{'founded_month': {'$lte': 12}},
                {'founded_month': {'$gte': 7}}]}
              
select={'name': True, "founded_month": True, '_id': False}

m = colec.find(query, select).limit(1000).limit(10)

list(m)

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [19]:
# Your Code
query={'$and': [{'founded_year': {'$lt': 2000}},
                {'acquisition.price_amount': {'$gt': 1e7}}]}
              
select={'name': True, "founded_year": True, 'acquisition.price_amount': True, '_id': False}

o = colec.find(query, select).limit(10)

list(o)

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Neopets',
  'founded_year': 1999,
  'acquisition': {'price_amount': 160000000}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000}},
 {'name': 'Zappos',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Sabre',
  'founded_year': 1960,
  'acquisition': {'price_amount': 4300000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [20]:
# Your Code
query={'founded_year': {'$lt': 2010}}

              
select={'name': True, 'acquisition': True, '_id': False}

p = colec.find(query, select).sort('acquisition.price_amount', -1).limit(10)

list(p)

[{'name': 'BEA Systems',
  'acquisition': {'price_amount': 8500000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.oracle.com/corporate/press/2008_jan/bea.html',
   'source_description': 'Oracle to Acquire BEA Systems',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Oracle Corporation',
    'permalink': 'oracle'}}},
 {'name': 'Navteq',
  'acquisition': {'price_amount': 8100000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.businessweek.com/stories/2007-10-01/nokia-to-pay-8-dot-1-billion-for-navteqbusinessweek-business-news-stock-market-and-financial-advice',
   'source_description': 'Press Release',
   'acquired_year': 2008,
   'acquired_month': 7,
   'acquired_day': 10,
   'acquiring_company': {'name': 'Nokia', 'permalink': 'nokia'}}},
 {'name': 'Sun Microsystems',
  'acquisition': {'price_amount': 7400000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2009/04/20/oracle-to-buy-sun-hold-on-to-your-hats/',
   'source_description': 'Oracle To Buy Sun For Approximately $7.4 Billion - Hold On To Your Hats',
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': 20,
   'acquiring_company': {'name': 'Oracle Corporation',
    'permalink': 'oracle'}}},
 {'name': 'Pixar',
  'acquisition': {'price_amount': 7400000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://www.pixar.com/companyinfo/about_us/overview.htm',
   'source_description': 'Pixar About Page',
   'acquired_year': 2006,
   'acquired_month': 1,
   'acquired_day': 24,
   'acquiring_company': {'name': 'The Walt Disney Company',
    'permalink': 'the-walt-disney-company'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.national.com/news/item/0,1735,1522,00.html',
   'source_description': 'TI to acquire National Semiconductor Complementary portfolios are foundation for growth',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 4,
   'acquiring_company': {'name': 'Texas Instruments',
    'permalink': 'texas-instruments'}}},
 {'name': 'aQuantive',
  'acquisition': {'price_amount': 6400000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2007/05/18/microsoft-pays-6-billion-for-aquantive/',
   'source_description': 'Microsoft Pays $6 billion for aQuantive: Massive Ad Network Consolidation Is Occuring',
   'acquired_year': 2007,
   'acquired_month': 5,
   'acquired_day': 18,
   'acquiring_company': {'name': 'Microsoft', 'permalink': 'microsoft'}}},
 {'name': 'Siebel Systems',
  'acquisition': {'price_amount': 5850000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://www.oracle.com/corporate/press/2006_jan/sieb_cl.html',
   'source_description': 'Oracle Agrees to Buy Siebel for $10.66 a Share  ',
   'acquired_year': 2006,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'Oracle Corporation',
    'permalink': 'oracle'}}},
 {'name': 'Sybase',
  'acquisition': {'price_amount': 5800000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://techcrunch.com/2010/05/12/confirmed-sap-to-acquire-sybase-for-5-8-billion/',
   'source_description': 'SAP To Acquire Sybase For $5.8 Billion To Compete With Oracle',
   'acquired_year': 2010,
   'acquired_month': 5,
   'acquired_day': 12,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'Affiliated Computer Services',
  'acquisition': {'price_amount': 5750000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://www.businessinsider.com/xerox-buying-the-business-processing-company-affiliated-computer-services-for-575-billion-apfn-2009-9',
   'source_description': 'Xerox Buys Affiliated Computer Services For $5.75 billion',
   'acquired_year': 2009,
   'acquired_month': 9,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Xerox', 'permalink': 'xerox'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [21]:
# Your Code
query={}
              
select={'name': True, "founded_year": True,'_id': False}

q = colec.find(query, select).sort('founded_year', -1).limit(10)

list(q)

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [22]:
# Your Code
query={'founded_day': {'$lte': 7}}

              
select={'name': True, 'acquisition': True, '_id': False}

r = colec.find(query, select).sort('acquisition.price_amount', -1).limit(10)

list(r)

[{'name': 'Netscape',
  'acquisition': {'price_amount': 4200000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://news.cnet.com/2100-1023-218360.html',
   'source_description': 'AOL buys Netscape for $4.2 billion',
   'acquired_year': 1998,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'AOL', 'permalink': 'aol'}}},
 {'name': 'PayPal',
  'acquisition': {'price_amount': 1500000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://news.cnet.com/2100-1017-941964.html',
   'source_description': 'eBay picks up PayPal for $1.5 billion',
   'acquired_year': 2002,
   'acquired_month': 7,
   'acquired_day': 8,
   'acquiring_company': {'name': 'eBay', 'permalink': 'ebay'}}},
 {'name': 'Zappos',
  'acquisition': {'price_amount': 1200000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://techcrunch.com/2009/07/22/amazon-buys-zappos/',
   'source_description': 'TechCrunch: Amazon Buys Zappos',
   'acquired_year': 2009,
   'acquired_month': 7,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Amazon', 'permalink': 'amazon'}}},
 {'name': 'Alibaba',
  'acquisition': {'price_amount': 1000000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://docs.yahoo.com/docs/pr/release1256.html',
   'source_description': 'YAHOO! AND ALIBABA.COM FORM STRATEGIC PARTNERSHIP IN CHINA ',
   'acquired_year': 2005,
   'acquired_month': 8,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'name': 'Postini',
  'acquisition': {'price_amount': 625000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2007/07/09/google-acquires-postini-for-625-million/',
   'source_description': 'http://www.techcrunch.com/2007/07/09/google-acquires-postini-for-625-million/',
   'acquired_year': 2007,
   'acquired_month': 7,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Google', 'permalink': 'google'}}},
 {'name': 'Danger',
  'acquisition': {'price_amount': 500000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2008/02/11/meanwhile-microsoft-buys-danger/',
   'source_description': 'Meanwhile, Microsoft Buys Danger For $500 Million',
   'acquired_year': 2008,
   'acquired_month': 2,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Microsoft', 'permalink': 'microsoft'}}},
 {'name': 'Clearwell Systems',
  'acquisition': {'price_amount': 410000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.marketwire.com/press-release/symantec-completes-acquisition-of-clearwell-systems-nasdaq-symc-1536339.htm',
   'source_description': 'Symantec Completes Acquisition of Clearwell Systems',
   'acquired_year': 2011,
   'acquired_month': 7,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Symantec', 'permalink': 'symantec'}}},
 {'name': 'PrimeSense',
  'acquisition': {'price_amount': 345000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://gigaom.com/2013/11/25/apple-buys-israeli-3d-sensor-outfit-primesense-for-a-reported-350m/',
   'source_description': ' Apple buys Israeli 3D sensor outfit PrimeSense for a reported $350M ',
   'acquired_year': 2013,
   'acquired_month': 7,
   'acquired_day': 18,
   'acquiring_company': {'name': 'Apple', 'permalink': 'apple'}}},
 {'name': 'Amobee',
  'acquisition': {'price_amount': 321000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/03/05/more-mobile-ad-consolidation-carrier-singtel-buys-amobee-for-321-million/',
   'source_description': 'More Mobile Ad Consolidation: Carrier SingTel Buys Amobee For $321 Million',
   'acquired_year': 2012,
   'acquired_month': 3,
   'acquired_day': 5,
   'acquiring_company': {'name': 'SingTel', 'permalink': 'singtel'}}},
 {'name': 'BlueLithium',
  'acquisition': {'price_amount': 300000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://zpwjnbkofczw.com/',
   'source_description': 'Yahoo Acquires Ad Network BlueLithium',
   'acquired_year': 2007,
   'acquired_month': 9,
   'acquired_day': 4,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [23]:
# Your Code
query={'$and': [{'category_code': 'web'},
                {'number_of_employees': {'$gt': 4e3}}]}
              
select={'name': True, "category_code": True, 'number_of_employees': True, '_id': False}

o = colec.find(query, select).sort('number_of_employees', 1).limit(10)

list(o)

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [24]:
# Your Code
query={'$and': [{'acquisition.price_currency_code': 'EUR'},
                {'acquisition.price_amount': {'$gt': 1e7}}]}
              
select={'name': True, "acquisition.price_currency_code": True, 'acquisition.price_amount': True, '_id': False}

p = colec.find(query, select).limit(10)

list(p)

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [25]:
# Your Code
query={'founded_month': {'$lte': 3}}

              
select={'name': True, 'acquisition': True, '_id': False}

q = colec.find(query, select).limit(10)

list(q)

[{'name': 'Facebook', 'acquisition': None},
 {'name': 'Twitter', 'acquisition': None},
 {'name': 'StumbleUpon',
  'acquisition': {'price_amount': 29000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2009/04/13/ebay-unacquires-stumbleupon/',
   'source_description': "StumbleUpon Beats Skype In Escaping EBay's Clutches",
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': None,
   'acquiring_company': {'name': 'StumbleUpon', 'permalink': 'stumbleupon'}}},
 {'name': 'Gizmoz',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.gizmoz.com',
   'source_description': 'TechCrunch',
   'acquired_year': 2009,
   'acquired_month': 12,
   'acquired_day': 15,
   'acquiring_company': {'name': 'Daz 3d', 'permalink': 'daz-3d'}}},
 {'name': 'Helio',
  'acquisition': {'price_amount': 39000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://news.cnet.com/8301-10784_3-9978991-7.html',
   'source_description': 'Virgin Mobile USA buys Helio for $39 million',
   'acquired_year': 2008,
   'acquired_month': 6,
   'acquired_day': 27,
   'acquiring_company': {'name': 'Virgin Mobile USA',
    'permalink': 'virgin-mobile'}}},
 {'name': 'Babelgum', 'acquisition': None},
 {'name': 'Yahoo!', 'acquisition': None},
 {'name': 'Mahalo', 'acquisition': None},
 {'name': 'Meetup', 'acquisition': None},
 {'name': 'Jangl SMS', 'acquisition': None}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [26]:
# Your Code
query={'$and': [{'founded_year': {'$gte': 2000}},
                {'founded_year': {'$lte': 2010}},
                {'acquisition.acquired_year': {'$lt': 2011}}]}
              
select={'name': True, 'founded_year': True, 'acquisition.acquired_year': True, '_id': False}

r = colec.find(query, select).limit(10)

list(r)

[{'name': 'StumbleUpon',
  'founded_year': 2002,
  'acquisition': {'acquired_year': 2009}},
 {'name': 'Gizmoz',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2009}},
 {'name': 'Helio',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2008}},
 {'name': 'Joost',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2009}},
 {'name': 'Plaxo',
  'founded_year': 2002,
  'acquisition': {'acquired_year': 2008}},
 {'name': 'Powerset',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2008}},
 {'name': 'Veoh',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2010}},
 {'name': 'Jajah',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2009}},
 {'name': 'Skype',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2005}},
 {'name': 'YouTube',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2006}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [27]:
# Your Code